
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(https://hips.hearstapps.com/clv.h-cdn.co/assets/15/22/1432664914-strawberry-facts1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 40px;
    border: solid 1px rgb(190, 87, 87);
    background: rgb(209, 65, 65);
    max-width: 75%;
    height: 50%;
    color: white;
}

section {
    width: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 30px;
    text-align
};

content {
    width: 60%;
}

p {
    text-align: center;
    font-size: 3rem;
}

input {
    margin: 30px;
}

button {
    margin: 10px;
}

  
  